* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li {
    list-style: none;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 4rem;
}
li {
    font-size: 1.5rem;
}
input {
    border: none;
    height: 40px;
    width: 180px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    font-size: 1.15rem;
}
button {
    border: none;
    background-color: rgb(0, 0, 0);
    height: 30px;
    color: white;
    border-radius: 7px;
    width: 50px;
} 
button:hover {
    background-color: rgb(24, 24, 24);
}
input::placeholder {
    font-size: 1.15rem;
}